<div class="top-message">Take a Quiz</div>
<% if @quizzes.any? %>
  <ul>
  <% @quizzes.each do |quiz| %>
    <li><%= link_to quiz.title, new_quiz_response_path(quiz) %></li>
  <% end %>
  </ul>
<% else %>
  <div>There are no more quizzes available!</div>
<% end %>