<div class="top-message"><%= @quiz.title %></div>
<div class="topnav">
  <%= navbar_link "Take Quiz", (new_quiz_response_path(@quiz.id)) %>
  <%= navbar_link 'Edit Quiz', (edit_quiz_path(@quiz.id)) %>
  <%= navbar_link 'View Quiz Responses', quiz_responses_path(@quiz.id) %>
</div>