<div class="top-message"><%= @quiz.title %></div>
<div><%= link_to "Take Quiz", (new_quiz_response_path(@quiz.id)) %></div>
<div><%= link_to 'Edit Quiz', (edit_quiz_path(@quiz.id)) %></div>
<div><%= link_to 'View Quiz Responses', quiz_responses_path(@quiz.id) %></div>