<div class="topnav">
  <% if user_signed_in? %>
    <%= render 'layouts/logged_in_nav' %>
  <% else %>
    <%= render 'layouts/logged_out_nav' %>
  <% end %>
  <%= render 'layouts/all_users_nav' %>
</div>